/*GLOBAL STYLES*/

header {
    background-color: #FF7900;
    height:200px;
}

main {
    width:90%;
    margin:20px;
}

    
footer{ 
    background-color: #FF7900;
    height:300px;
    text-align:center;
    padding:40px;
}
    

body {
    margin:0px;
}    
    
h1{
    
}


header {
    
}

p {
    
}

a {
    
}


/*BUTTON STYLES*/

.button {
    background-color: #FF7900;
    padding:15px 22px;
    border-radius:6px;
    color:#FFFFFF;
    text-decoration:none;
}

/*OTHER STYLES*/

.imageCenter {
    display:block;
    margin:0px auto ;
}